<section class="row" data-ng-controller="AuthenticationController">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
		<h1 class="text-center"><img src="/img/logo.png" alt=""><span class="text-primary">tinderwick</span><br><small>Tinder on the web</small></h1>
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset ng-disabled="isProcessing">
				<div class="form-group">
					<label for="username">Facebook email/ID</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Facebook password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
					<a href="/#!/signup">Sign up</a>
				</div>
				<div data-ng-show="error" data-ng-bind="error" class="text-center alert alert-danger"></div>

				<div class="help-block">
					<p><strong>Note: you need a Tinder account already to use this!</strong></p>
					<p>
						We do not store your Facebook username or password, or any of the actions that you send to Tinder. We are also not affiliated with Tinder in any way.
						Created by Peter Xu and Harry Yu, as featured in the <a href="http://www.nytimes.com/2014/01/22/nyregion/yale-students-tangle-with-university-over-yale-blue-book-website.html">New York Times</a>.
					</p>
				</div>
			</fieldset>
		</form>
	</div>
</section>